/*CSS reset*/
*{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	font-family: 'Fira Code', monospace;
}

body {

	background-image: url("../images/88.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 106vh;
	/*background-image: linear-gradient(rgba(17,126,112,0.75), rgba(0,88,255,0.45)), url("../images/a.jpg");*/

}



/*targets the element with the class name container*/
.container {
	width: 500px;
	margin: 0 auto; 
	text-align: center; 


}




/*targets the html element h1*/
h1 {
	color: yellow; /*this changes the font color of the h1 element*/
	background-color: rgba(51,51,51, 0.5);
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 3px;
	border-radius: 10px;
	font-family: 'Fira Code', monospace;
	margin-bottom: 15px;

}

/*end of h1 styling*/


/*start of h2 styling*/
h2 {
	color: yellow;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: rgba(51,51,51, 0.5);
	margin-bottom: 40px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Open Sans Condensed', sans-serif;


}
/*end of h2 styling*/
/*targets the html element with the class attribute bio*/
.bio {
	font-size: 18px;
	line-height: 30px;
	background-color: rgba(51,51,51, 0.5);
	color: yellow;


}

/*end of bio*/

/*targets the html attribute id with a value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: yellow;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;

}

/*end of me*/

/*targets the html attribute id with a value Lo*/


	
	/*targets the html attribute id with a value lolo*/	
	#lolo {

		width: 100%;

	}
